{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="card">

    <div class="card-header">
      <h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </h3>
      <small class="text-muted">Edit Entry:</small>
    </div>

    <div class="card-body bg-light">
      <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" name="submit">Save Changes</button>
      </form>
    </div>

  </div>



{% endblock content %}
